<div class='d-flex justify-content-end w-75'>
  <%= link_to new_tweet_path, remote: true, class: 'btn btn-success' do %>
    <span class='mb-0'>New Tweet <i class='fas fa-pen-to-square ms-1'></i></span>
  <% end %>
</div>
<div class='tweets d-flex justify-content-center align-items-center flex-column'>
  <%= render tweets %>
</div>

<div class="modal tweetModal" tabindex="-1"></div>
